org.smartscholars.projectmanager.commands.vc.StopCommand
org.smartscholars.projectmanager.commands.vc.LeaveVoiceChannelCommand
org.smartscholars.projectmanager.commands.vc.PlayCommand
org.smartscholars.projectmanager.commands.vc.TextToSpeechCommand
org.smartscholars.projectmanager.commands.vc.VoiceIdOptionsCommand
org.smartscholars.projectmanager.commands.vc.PauseCommand
org.smartscholars.projectmanager.commands.vc.ResumeCommand
org.smartscholars.projectmanager.commands.vc.SkipCommand
org.smartscholars.projectmanager.commands.misc.HelpCommand
org.smartscholars.projectmanager.commands.misc.ImageCommand
org.smartscholars.projectmanager.commands.misc.ImageOptionsCommand
org.smartscholars.projectmanager.commands.misc.ActivityCommand
