org.smartscholars.projectmanager.commands.vc.StopCommand
org.smartscholars.projectmanager.commands.vc.LeaveCommand
org.smartscholars.projectmanager.commands.vc.PlayCommand
org.smartscholars.projectmanager.commands.api.TextToSpeechCommand
org.smartscholars.projectmanager.commands.api.VoiceIdOptionsCommand
org.smartscholars.projectmanager.commands.vc.PauseCommand
org.smartscholars.projectmanager.commands.vc.ResumeCommand
org.smartscholars.projectmanager.commands.vc.SkipCommand
org.smartscholars.projectmanager.commands.vc.ListQueueCommand
org.smartscholars.projectmanager.commands.vc.NowPlayingCommand
org.smartscholars.projectmanager.commands.vc.VolumeCommand
org.smartscholars.projectmanager.commands.misc.HelpCommand
org.smartscholars.projectmanager.commands.misc.PingCommand
org.smartscholars.projectmanager.commands.misc.ActivityCommand
org.smartscholars.projectmanager.commands.misc.RockPaperScissorsCommand
org.smartscholars.projectmanager.commands.api.ImageCommand
org.smartscholars.projectmanager.commands.api.ImageOptionsCommand
org.smartscholars.projectmanager.commands.administrator.EvalCommand
